@use "variables" as vars;

.action_icon {
  @media (max-width: calc(vars.$mantine-breakpoint-md + 50px)) {
    display: none;
  }
}

.dialog {
  border-radius: var(--mantine-radius-lg) !important;

  .dialog_inner {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-9)
    );
    border-radius: var(--mantine-radius-lg);
  }
}
